# Dev artifacts
.turbo
node_modules
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Build artifacts
dist
build/**
coverage/*
еtс/ssl/keys

packages/revite/LICENSE
packages/revite/README.md

# Local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.DS_Store
cp
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.pdf

# SSL certs
/keys
*.crt
*.key

# IDE
.vercel
.idea
.vscode

# Tests
etc/tests/test-results/
etc/tests/playwright-report/
etc/tests/playwright/.cache/
